body {
    background-image: url("../images/dimension_@2X.png");
}

#title {
    background-color: orange; 
    color:white;
    padding: 15px;
    float: left;
    margin: 10px;
}

#gameInstructions {
    background-color: rgb(252, 248, 213);
    color: rgb(74, 189, 74);
    float: left;
    margin: 10px;
    padding: 20px 5px 100px 5px;
    font-weight: bolder;
}

#randomlyGeneratedNumber {
    background-color: rgb(97, 201, 137);
    color: rgb(67, 6, 107);
    Padding: 34px 200px 73px 5px;
    margin: 10px;
    font-size: 40px;
}

#winsAndLosses {
    background-color: turquoise;
    padding: 5px 10px 75px 10px;

}

img {
    display: block;
    width: 10%;
    float: left;
    margin: 5px;
}

#totalScoreVerbiage {
    background-color: teal;
    color: white;
    padding: 0px 10px 0px 10px;
    margin: 10px;
}

#totalScoreLabel {
    margin: 10px;
    background-color: teal;
    color: white;
    Padding: 5px 200px 80px 5px; 
    font-size: 40px;
}

#crystalOneLabel{
    font-size: 40px;
    color: rgb(240, 8, 124);
}
#crystalTwoLabel{
    font-size: 40px;
    color: rgb(8, 240, 66);
}
#crystalThreeLabel{
    font-size: 40px;
    color: rgb(184, 181, 24);
}
#crystalFourLabel{
    font-size: 40px;
    color: rgb(186, 8, 240);
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

